include LICENSE CHANGELOG.rst README.rst MANIFEST.in
recursive-include djangocms_unitegallery/locale *
recursive-include djangocms_unitegallery/templates *
recursive-include djangocms_unitegallery/static *
